<section class="section-page">
  <!-- SECTION DISEÑA -->
  <section class="section-page__design collapsible-open">
    <div class="section-page__header collapsible__trigger">
      <div class="section-page__header__wrap">
        <i
          class="far fa-object-ungroup section-page__header__icon"
          style="color: #e17334"
        ></i>
        <h2 class="section-page__header__title">Diseña</h2>
      </div>
      <i class="section-page__header__btn fas fa-chevron-down"></i>
    </div>
    <div class="section-page__design__colors collapsible__content">
      <h3 class="section-page__design__colors__subtitle">colores</h3>
      <form
        action=""
        method="GET"
        id="select-color"
        class="section-page__design__colors__form"
      >
        <partial
          src="_label-color.html"
          aClass="section-page__design__colors__form__palette01"
          classList="section-page__design__colors__form__palette01--list"
        ></partial>
        <partial
          src="_label-color.html"
          aClass="section-page__design__colors__form__palette02"
          classList="section-page__design__colors__form__palette02--list"
        ></partial>
        <partial
          src="_label-color.html"
          aClass="section-page__design__colors__form__palette03"
          classList="section-page__design__colors__form__palette03--list"
        ></partial>
      </form>
    </div>
  </section>
  <!-- SECTION RELLENA -->
  <section class="section-page__fill">
    <div class="section-page__header collapsible__trigger">
      <div class="section-page__header__wrap">
        <i
          class="far fa-keyboard section-page__header__icon"
          style="color: #e17334"
        ></i>
        <h2 class="section-page__header__title">Rellena</h2>
      </div>
      <i class="section-page__header__btn fas fa-chevron-down"></i>
    </div>
    <div class="collapsible__content">
      <form
        action=""
        method="GET"
        id="info-user"
        class="section-page__fill__form"
      >
        <label for="fullname">Nombre completo</label>
        <input
          class="js-input-name"
          type="text"
          name="fullname"
          id="fullname"
          placeholder="Ej: Sushi Cat"
          required
        />
        <label for="job">Puesto</label>
        <input
          class="js-input-job"
          type="text"
          name="job"
          id="job"
          placeholder="Ej: Front-Meow sushi cat"
          required
        />
        <label for="img" class="label-img">Imagen de perfil</label>
        <div class="img-container">
          <button type="button" class="btn-add js-btn-img">
            Añadir imagen
          </button>
          <input
            type="file"
            name=""
            id="img-selector"
            class="hiddenField js__profile-upload-btn"
          />
          <div class="img-user js-preview"></div>
        </div>
        <label for="email">Email</label>
        <input
          class="js-input-mail"
          type="email"
          name="email"
          id="email"
          placeholder="Ej: sushi-cat@meow.com"
        />
        <label for="phone">Teléfono</label>
        <input
          class="js-input-phone"
          type="tel"
          name="phone"
          id="phone"
          placeholder="Ej: 555-55-55-55"
        />
        <label for="linkendin">Linkedin</label>
        <input
          class="js-input-linkedin"
          type="text"
          name="linkendin"
          id="linkendin"
          placeholder="Ej: linkendin.com/in/sushithecat"
        />
        <label for="github">Github</label>
        <input
          class="js-input-github"
          type="text"
          name="github"
          id="github"
          placeholder="Ej: @sushi-cat"
        />
      </form>
    </div>
  </section>
  <!-- SHARE -->
  <section class="section-page__share">
    <div class="section-page__header collapsible__trigger">
      <div class="section-page__header__wrap">
        <i
          class="fas fa-share-alt section-page__header__icon"
          style="color: #e17334"
        ></i>
        <h2 class="section-page__header__title">Comparte</h2>
      </div>
      <i class="section-page__header__btn fas fa-chevron-down"></i>
    </div>
    <div class="collapsible__content">
      <form class="section-page__share__form">
        <button type="submit">crear tarjeta</button>
      </form>
    </div>
  </section>
  <div class="section-page__card-create">
    <h3 class="section-page__card-create__title">La tarjeta ha sido creada</h3>
    <a href="#" class="section-page__card-create__link-card" target="_blank"
      >https://awesome-profile-card.com?id=A456DF0001</a
    >
    <button type="submit" class="section-page__card-create__rrss-btn">
      <i class="fab fa-twitter" style="font-size: 18px"></i>
      Compartir en twitter
    </button>
  </div>
</section>
