<!-- SECTION RELLENA -->
<section class="section-page__fill">
  <div class="section-page__header collapsible__trigger">
    <div class="section-page__header__wrap">
      <i
        class="far fa-keyboard section-page__header__icon"
        style="color: #e17334"
      ></i>
      <h2 class="section-page__header__title">Rellena</h2>
    </div>
    <i class="section-page__header__btn fas fa-chevron-down"></i>
  </div>
  <div class="collapsible__content">
    <form
      action=""
      method="GET"
      id="info-user"
      class="section-page__fill__form"
    >
      <label for="fullname">Nombre completo</label>
      <input
        class="js-input-name"
        type="text"
        name="fullname"
        id="fullname"
        placeholder="Ej: Sushi Cat"
        required
      />
      <label for="job">Puesto</label>
      <input
        class="js-input-job"
        type="text"
        name="job"
        id="job"
        placeholder="Ej: Front-Meow sushi cat"
        required
      />
      <label for="img" class="label-img">Imagen de perfil</label>
      <div class="img-container">
        <button type="button" class="btn-add js-btn-img">Añadir imagen</button>
        <input
          type="file"
          name=""
          id="img-selector"
          class="hiddenField js__profile-upload-btn"
        />
        <div class="img-user js-preview"></div>
      </div>
      <label for="email">Email</label>
      <input
        class="js-input-mail"
        type="email"
        name="email"
        id="email"
        placeholder="Ej: sushi-cat@meow.com"
      />
      <label for="phone">Teléfono</label>
      <input
        class="js-input-phone"
        type="tel"
        name="phone"
        id="phone"
        placeholder="Ej: 555-55-55-55"
      />
      <label for="linkedin">Linkedin</label>
      <input
        class="js-input-linkedin"
        type="text"
        name="linkendin"
        id="linkedin"
        placeholder="Your Linkedin username. Ej: sushithecat"
      />
      <label for="github">Github</label>
      <input
        class="js-input-github"
        type="text"
        name="github"
        id="github"
        placeholder="Your Github username. Ej: sushithecat"
      />
    </form>
  </div>
</section>
