<!-- SECTION DISEÑA -->
<section class="section-page__design collapsible-open">
  <div class="section-page__header collapsible__trigger">
    <div class="section-page__header__wrap">
      <i
        class="far fa-object-ungroup section-page__header__icon"
        style="color: #e17334"
      ></i>
      <h2 class="section-page__header__title">Diseña</h2>
    </div>
    <i class="section-page__header__btn fas fa-chevron-down"></i>
  </div>
  <div class="section-page__design__colors collapsible__content">
    <h3 class="section-page__design__colors__subtitle">colores</h3>
    <form
      action=""
      method="GET"
      id="select-color"
      class="section-page__design__colors__form"
    >
      <label for="colors" class="section-page__design__colors__form__palette01">
        <input
          type="radio"
          id="colors"
          name="colors"
          class="js-radio js-palette1"
          value="1"
          checked="checked"
        />
        <ul class="section-page__design__colors__form__palette01--list">
          <li class="list--color"></li>
          <li class="list--color"></li>
          <li class="list--color"></li>
        </ul>
      </label>

      <label for="colors" class="section-page__design__colors__form__palette02">
        <input
          type="radio"
          id="colors"
          name="colors"
          class="js-radio js-palette2"
          value="2"
        />
        <ul class="section-page__design__colors__form__palette02--list">
          <li class="list--color"></li>
          <li class="list--color"></li>
          <li class="list--color"></li>
        </ul>
      </label>

      <label for="colors" class="section-page__design__colors__form__palette03">
        <input
          type="radio"
          id="colors"
          name="colors"
          class="js-radio js-palette3"
          value="3"
        />
        <ul class="section-page__design__colors__form__palette03--list">
          <li class="list--color"></li>
          <li class="list--color"></li>
          <li class="list--color"></li>
        </ul>
      </label>

      <label for="colors" class="section-page__design__colors__form__palette04">
        <input
          type="radio"
          id="colors"
          name="colors"
          class="js-radio js-palette4"
          value="4"
        />
        <ul class="section-page__design__colors__form__palette04--list">
          <li class="list--color"></li>
          <li class="list--color"></li>
          <li class="list--color"></li>
        </ul>
      </label>
    </form>
  </div>
</section>
