<!-- SHARE -->
<section class="section-page__share">
  <div class="section-page__header collapsible__trigger">
    <div class="section-page__header__wrap">
      <i
        class="fas fa-share-alt section-page__header__icon"
        style="color: #e17334"
      ></i>
      <h2 class="section-page__header__title">Comparte</h2>
    </div>
    <i class="section-page__header__btn fas fa-chevron-down"></i>
  </div>
  <div class="collapsible__content">
    <form class="section-page__share__form">
      <button type="submit">crear tarjeta</button>
    </form>
  </div>
</section>
<div class="section-page__card-create">
  <h3 class="section-page__card-create__title">La tarjeta ha sido creada</h3>
  <a href="#" class="section-page__card-create__link-card" target="_blank"
    >https://awesome-profile-card.com?id=A456DF0001</a
  >
  <button type="submit" class="section-page__card-create__rrss-btn">
    <i class="fab fa-twitter" style="font-size: 18px"></i>
    Compartir en twitter
  </button>
</div>
