.showroom {
  padding: 38px 35px 40px 45px;
  background: $backgroundFade1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media all and (min-width: 768px) {
    order: 1;
    width: 50%;
    border-radius: 6px;
  }
}

.layout {
  width: 240px;
  padding: 21px 0 12px 0;
  background-color: $white;
  box-shadow: 1px 1px 5px #666;
}

.reset-button {
  cursor: pointer;
  width: 75px;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 50px;
  font-family: $textFont;
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid white;
  color: $textColor;
  &:hover {
    border: solid 2px $userPaletteOffice3;
    background-color: white;
    transition: 0.3s ease border;
  }
}

.showroom-card__texts {
  border-left: solid 5px $brightBlue;
}

.layout__title {
  margin-left: 20px;
  margin-bottom: 4px;
  font-family: $cardFont;
  @include t(18px, 20px, bold);
  color: $textCard;
}

.layout__text {
  margin-left: 20px;
  margin-bottom: 10px;
  font-family: $cardFont;
  @include t(16px, 20px, normal);
  color: $textColor;
}

.photo {
  object-fit: cover;
  margin-bottom: 10px;
  width: 240px;
  height: 200px;
}

.media-icons {
  width: 100%;
  padding: 0 8%;
  display: flex;
  justify-content: space-evenly;
}

.media-icon {
  @include itemBordersDesign();
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    border: solid 2px $darkBlue;
    transition: 0.3s ease border;
  }
}

// CHANGE COLOR PALETTE

.js-card-palette1 {
  .js-background {
    background: $backgroundFadePalette1;
  }
  .showroom-card__texts {
    border-left: solid 5px $brightBlue;
  }
  .layout__title {
    color: $darkBlue;
  }
  .layout__text {
    color: $brightBlue;
  }
  .media-icon {
    border: solid 2px $brightGreen;
    &:hover {
      border: solid 2px $darkBlue;
      transition: 0.3s ease border;
    }
  }
}

.js-card-palette2 {
  .js-background {
    background: $backgroundFadePalette2;
  }
  .showroom-card__texts {
    border-left: solid 5px $userPaletteBlood2;
  }
  .layout__title {
    color: $userPaletteBlood1;
  }
  .layout__text {
    color: $userPaletteBlood3;
  }
  .media-icon {
    border: solid 2px $userPaletteBlood3;
    &:hover {
      border: solid 2px $userPaletteBlood1;
      transition: 0.3s ease border;
    }
  }
}

.js-card-palette3 {
  .js-background {
    background: $backgroundFadePalette3;
  }
  .showroom-card__texts {
    border-left: solid 5px $userPaletteOffice2;
  }
  .layout__title {
    color: $userPaletteOffice1;
  }
  .layout__text {
    color: $userPaletteOffice3;
  }
  .media-icon {
    border: solid 2px $userPaletteOffice2;
    &:hover {
      border: solid 2px $userPaletteOffice3;
      transition: 0.3s ease border;
    }
  }
}

.js-card-palette4 {
  .js-background {
    background: $backgroundFadePalette4;
  }
  .showroom-card__texts {
    border-left: solid 5px $userPaletteOrange2;
  }
  .layout__title {
    color: $userPaletteOrange1;
  }
  .layout__text {
    color: $userPaletteOrange3;
  }
  .media-icon {
    border: solid 2px $userPaletteOrange2;
    &:hover {
      border: solid 2px $userPaletteOrange3;
      transition: 0.3s ease border;
    }
  }
}
