.footer {
  &__container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 2% 1%;
  }
  &__copy {
    color: $textColor2;
    font-family: $textFont;
  }
  &__logo {
    width: 103px;
    height: 40px;
  }
  &__logo img {
    width: 100%;
  }
}

// Responsive

@media all and (max-width: 400px) {
  .footer {
    &__container {
      display: flex;
      flex-flow: column-reverse wrap;
      align-items: center;
    }
  }
}
